.accordion {
  border: 1px solid @accordion-border-color;

  input[id^="accordion-"] {
    display: none;

    &:checked ~ .inner {
      max-height: 200px;
      border-top: 1px solid @accordion-border-color;
      border-bottom: 1px solid @accordion-border-color;
    }

    + label {
      display: block;
      background: @accordion-label-bg;
      padding: .6em 1em;
    }
  }

  .inner {
    max-height: 0;
    overflow: hidden;
    .transition(max-height .4s);

    .content {
      padding: 1em;
    }
  }
}
