.menu {
  input[id^="menu-"] {
    display: none;

    &:checked ~ .overlay {
      display: block;
    }

    &:checked ~ nav {
      right: 0;
    }
  }

  .overlay {
    display: none;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: @overlay-bg;
    z-index: @overlay-z-index;
  }

  nav {
    position: fixed;
    top: 0; right: -300px; bottom: 0; width: 300px;
    background: @menu-bg;
    color: @menu-color;
    z-index: @menu-z-index;
    .transition(right .4s);

    h3 {
      margin: 0;
      padding: .5em 1rem;
      font-size: 3em;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin: 0;
        padding: 0;

        &.seperator {
          background: fade(@menu-color, 15%);
          height: 1px;
          margin: .5em 1rem;
        }

        h5 {
          font-size: 1.1em;
          margin: 0;
          padding: .5em 1rem;
          text-transform: uppercase;
          color: fade(@menu-color, 15%);
        }

        a {
          display: block;
          margin: 0;
          padding: .5em 1rem;
          color: fade(@menu-color, 80%);
          text-decoration: none;
          transition: background .3s ease;

          &:hover {
            background: darken(@menu-bg, 5%);
          }
        }
      }
    }
  }
}
