.slider {
  position: relative;
  width: 40em;
  height: 2em;
  margin: 0 auto 3em auto;

  &:before {
    content: " ";
    background: @slider-bg;
    height: 4px;
    .border-radius(2px);
    position: absolute;
    left: 0;
    right: 0;
    top: 2.8em;
  }

  input[id^="slider-"] {
    display: none;

    + label {
      display: inline-block;
      text-align: center;
      width: 25%;
      height: 3em;
      z-index: @slider-z-index;
    }
  }

  .handle {
    position: absolute;
    left: 0; top: 2em;
    background: @slider-handle-bg;
    height: 2em;
    width: 2em;
    margin-left: 4em; // 2 eme étape
    z-index: @slider-z-index;
    .border-radius(1em);
    .transition(left .4s);
  }

  #slider-choice-1:checked ~ .handle { left: 0; }
  #slider-choice-2:checked ~ .handle { left: 25%; }
  #slider-choice-3:checked ~ .handle { left: 50%; }
  #slider-choice-4:checked ~ .handle { left: 75%; }
}
