.toggle {
  position: relative;
  padding-left: 3em;

  input[id^="toggle-"] {
    display: none; // Ou bien position: absolute; top: -9999px; left: -9999px;

    &:checked + label {
      &:before {
        background: @toggle-no-bg;
      }

      &:after {
        left: 1.2em;
      }
    }
  }

  label:before, label:after {
    content: '';
    position: absolute;
    height: 1.2em;
    left: 0;
    .border-radius(.6em);
  }

  label:before {
    width: 2.4em;
    background: @toggle-no-bg;
    .transition(background .4s);
  }

  label:after {
    width: 1.2em;
    .background-image(@toggle-handle-bg);
    .transition(left .4s);
  }
}
