.toggle {
  position: relative;
  padding-left: 50px;

  input {
    display: none; /* Ou bien position: absolute; top: -9999px; left: -9999px; */

    &:checked + label {
      &::before {
        background: green;
      }
      &::after {
        left: 20px;
      }
    }
  }

  label::before, label::after {
    content: '';
    position: absolute;
    height: 20px;
    left: 0;
    .border-radius(10px);
  }

  label::before {
    width: 40px;
    background: #e60028;
    .transition(background .4s);
  }

  label::after {
    width: 20px;
    .background-image(linear-gradient(to bottom, black 0%, #dedede 100%));
    .transition(left .4s);
  }
}