@arrowSize: 6px;

.vertical-tooltip(@position, @propertyY) {
  &:before, &:after {
    @{propertyY}: 100%;
    left: 50%;
  }

  &:before {
    border-@{position}-color: @tooltip-bg;
    margin-@{propertyY}: -@arrowSize;
    margin-left: -@arrowSize;
  }
  &:after {
    margin-left: -4 * @arrowSize;
    margin-@{propertyY}: @arrowSize;
  }
}

.horizontal-tooltip(@position, @propertyX) {
  &:before, &:after {
    @{propertyX}: 100%;
    bottom: 50%;
  }

  &:before {
    border-@{position}-color: @tooltip-bg;
    margin-bottom: -@arrowSize;
  }
  &:after {
    margin-@{propertyX}: 2 * @arrowSize;
    margin-bottom: -1.1em;
  }
}

.tooltip {
  position: relative;
  display: inline-block;

  &:before, &:after {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: @tooltip-z-index;
  }

  // The arrow
  &:before {
    border: @arrowSize solid transparent;
    background: transparent;
    content: " ";
  }

  // Tooltip text
  &:after {
    content: attr(title);
    background: @tooltip-bg;
    color: @tooltip-color;
    padding: .3em 1em;
    white-space: nowrap;
    .border-radius(.4em);
  }

  &:hover {
    &:before, &:after {
      visibility: visible;
      opacity: 1;
    }
  }

  &.tooltip-top {
    .vertical-tooltip(top, bottom);
  }

  &.tooltip-bottom {
    .vertical-tooltip(bottom, top);
  }

  &.tooltip-right {
    .horizontal-tooltip(right, left);
  }

  &.tooltip-left {
    .horizontal-tooltip(left, right);
  }
}
