// Colors
@white: #f5f5f5;
@black: #000;
@gray : #ccc;
@cyan : #008cba;
@red  : #f04124;
@green: #43ac6a;
@oil  : #333333;

// Commons
@overlay-bg: fade(@black, 70%);
@overlay-z-index: 10;

// Buttons
@button-bg: @cyan;
@button-hover-bg: darken(@cyan, 5%);
@button-color: @white;

// Toggle
@toggle-no-bg: @red;
@toggle-yes-bg: @green;
@toggle-handle-bg: radial-gradient(@white, darken(@white, 10%));

// Collapse
@collapse-label-bg: lighten(@gray, 10%);
@collapse-border-color: @gray;

// Accordion
@accordion-label-bg: @collapse-label-bg;
@accordion-border-color: @collapse-border-color;

// Slider
@slider-bg: @cyan;
@slider-handle-bg: darken(@cyan, 20%);
@slider-z-index: 1;

// Dialog
@dialog-bg: @white;
@dialog-border-color: @gray;
@dialog-z-index: @overlay-z-index + 1;

// Menu
@menu-bg: @oil;
@menu-color: @white;
@menu-z-index: @overlay-z-index + 1;

// Tabs
@tab-bg: @gray;

// Tooltips
@tooltip-bg: fade(@black, 80%);
@tooltip-z-index: 1;
@tooltip-color: @white;
