<h2>Collapse</h2>

<div class="collapse">
    <input type="checkbox" id="collapse-1"/>
    <label for="collapse-1">Collapse</label>

    <div class="inner">
        <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed interdum nec ipsum sed porta. Nullam rhoncus
            pellentesque purus, et tincidunt lectus gravida a. Sed lobortis eros eget massa congue, vel luctus est
            mollis. Nam et venenatis augue. Vivamus dictum vehicula laoreet. Phasellus sagittis arcu quam, ac lobortis
            quam bibendum ut. Nulla aliquam mauris mauris, ac congue metus pulvinar eget. Mauris imperdiet nunc diam, at
            iaculis turpis lacinia id. Quisque elementum bibendum elit, ac auctor sapien imperdiet ut. Nam volutpat
            massa nec massa malesuada, et efficitur ipsum lobortis. Aenean gravida eros ac maximus semper.
        </div>
    </div>
</div>
