<h2>Accordion</h2>

<div class="accordion">
    <div class="panel">
        <input type="radio" id="accordion-1" name="accordion" />
        <label for="accordion-1">Accordion 1</label> 
        <div class="inner">
            <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed interdum nec ipsum sed porta. Nullam rhoncus pellentesque purus, et tincidunt lectus gravida a. Sed lobortis eros eget massa congue, vel luctus est mollis. Nam et venenatis augue. Vivamus dictum vehicula laoreet. Phasellus sagittis arcu quam, ac lobortis quam bibendum ut. Nulla aliquam mauris mauris, ac congue metus pulvinar eget. Mauris imperdiet nunc diam, at iaculis turpis lacinia id. Quisque elementum bibendum elit, ac auctor sapien imperdiet ut. Nam volutpat massa nec massa malesuada, et efficitur ipsum lobortis. Aenean gravida eros ac maximus semper.
            </div>
        </div>
    </div>

    <div class="panel">
        <input type="radio" id="accordion-2" name="accordion" />
        <label for="accordion-2">Accordion 2</label>
        <div class="inner">
            <div class="content">
                Nulla nunc diam, feugiat ac volutpat eleifend, vestibulum sit amet lacus. Fusce condimentum tortor eros, id dignissim massa sodales interdum. Aenean iaculis arcu eu tortor pulvinar, a tincidunt sapien volutpat. Etiam ut aliquet felis, eget posuere nisi. Quisque sagittis justo tempor eros mollis, eget ultrices diam facilisis. Pellentesque pretium lacinia nibh, in tincidunt arcu aliquet ut. Suspendisse a augue eu mauris mattis placerat. Nulla facilisi. Morbi venenatis pharetra ante in placerat. Ut lectus lorem, convallis in lorem at, rutrum tincidunt felis. Aenean eu ex vitae purus consequat aliquam nec eget risus. Quisque nec blandit justo. Duis nec tortor erat. Donec egestas mollis consectetur. Nulla lacus felis, interdum non nunc non, molestie molestie diam. Nunc volutpat pretium est, sed convallis nisl tempus ac.
            </div>
        </div>
    </div>

    <div class="panel">
        <input type="radio" id="accordion-3" name="accordion" />
        <label for="accordion-3">Accordion 3</label>
        <div class="inner">
            <div class="content">
                Nullam id urna id massa consectetur aliquam ut lobortis erat. Praesent bibendum neque nec turpis facilisis, vitae placerat mauris laoreet. Fusce pharetra euismod elementum. Cras eu mollis turpis. Cras tincidunt enim at ligula feugiat malesuada. Proin libero ipsum, fringilla sit amet tortor ac, convallis iaculis nunc. Pellentesque sed diam id justo aliquet vulputate sit amet id ligula. Praesent tellus massa, aliquam sed velit vitae, tincidunt tristique purus. Proin nibh metus, faucibus non lorem ac, fringilla vehicula dui. Etiam pulvinar dolor nec auctor faucibus. Cras congue libero vitae enim fermentum pharetra. Phasellus euismod quis mi eu consectetur. Maecenas sem sapien, cursus eget elit non, lacinia pharetra sem. Pellentesque luctus tristique justo, vel bibendum ex ultrices quis.
            </div>
        </div>
    </div>
</div>
