<h2>Accordion</h2>

<div class="accordion">
    <div class="panel">
        <input type="radio" id="accordion-1" name="accordion"/>
        <label for="accordion-1">Accordion 1</label>

        <div class="inner">
            <div class="content">
                Suspendisse ut justo sem. Vestibulum vel convallis dui, et tincidunt nisi. Quisque quis ligula interdum,
                imperdiet enim nec, lobortis purus. Nam aliquet neque mauris, eu viverra nisl fermentum ut. Quisque
                imperdiet, nulla eget sollicitudin convallis, enim mauris dictum ante, a laoreet nisi ex ac diam. Cras
                nec ipsum nec eros consectetur ullamcorper. Nullam in metus pellentesque, aliquam dui vitae, elementum
                dolor. Praesent eu elit lacinia, mollis leo vel, varius urna. Praesent finibus tempus ipsum a luctus.
                Maecenas sollicitudin enim in turpis lobortis semper. Nulla facilisi. Quisque sit amet molestie felis,
                non hendrerit dolor. Sed consequat viverra nulla vel tempor. Donec sed sapien quis ligula elementum
                finibus. Nullam sit amet laoreet metus.
            </div>
        </div>
    </div>

    <div class="panel">
        <input type="radio" id="accordion-2" name="accordion"/>
        <label for="accordion-2">Accordion 2</label>

        <div class="inner">
            <div class="content">
                Curabitur sollicitudin urna non augue iaculis egestas. Maecenas nec dictum tortor. Proin erat nunc,
                tempus vel consequat vel, ultricies eu turpis. Aliquam ipsum quam, vestibulum nec scelerisque quis,
                pretium id ipsum. Sed eget tellus dictum, dictum sapien non, fermentum nisi. In elit neque, elementum id
                tincidunt et, blandit at odio. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                ridiculus mus. Aliquam leo arcu, euismod vel porta ut, semper at sem. Curabitur viverra, est eu
                tincidunt blandit, tellus nulla dignissim mi, sed hendrerit ante mauris ac nibh. Nulla tempus urna
                cursus enim sagittis, volutpat ullamcorper ex auctor. Cras urna dui, ultrices sed pretium sit amet,
                varius sed mauris. Sed nisl sapien, luctus ut blandit ut, consectetur ornare lorem. Pellentesque dapibus
                fermentum urna.
            </div>
        </div>
    </div>

    <div class="panel">
        <input type="radio" id="accordion-3" name="accordion"/>
        <label for="accordion-3">Accordion 3</label>

        <div class="inner">
            <div class="content">
                Morbi pharetra metus elit, ac tincidunt dolor accumsan ultrices. Cras auctor volutpat vestibulum.
                Praesent et gravida leo. Duis a dapibus magna. Donec ac placerat massa, eget lobortis justo. Sed aliquet
                interdum aliquet. Aenean tristique convallis dui in bibendum. Suspendisse nisl ex, efficitur a mi sed,
                efficitur aliquam risus. Pellentesque luctus, dui sit amet pretium laoreet, ex arcu pellentesque massa,
                sed imperdiet ligula nisl non leo. Phasellus suscipit accumsan rutrum. <br/>
                In rutrum quis nibh in commodo. Aenean ultricies mattis laoreet. Fusce faucibus quam orci, sit amet
                iaculis nibh pretium eu. Praesent vitae ex at orci auctor vulputate lacinia a urna. Aenean id blandit
                tortor. In hac habitasse platea dictumst. Curabitur sed augue id lacus semper volutpat. Fusce et purus
                erat. Donec id odio metus.
            </div>
        </div>
    </div>
</div>
