<h2>Modal</h2>

<label class="button" for="modal">Show modal</label>

<div class="modal">
	<input type="checkbox" id="modal" />
	<label class="overlay" for="modal"></label>
	
	<div class="dialog">
		<header>
			<h1>Alert</h1>
			<label class="icon icon-cancel close" for="modal"></label>
		</header>

		<div class="content">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed interdum nec ipsum sed porta. Nullam rhoncus pellentesque purus, et tincidunt lectus gravida a. Sed lobortis eros eget massa congue, vel luctus est mollis. Nam et venenatis augue.</p>
		</div>
		
		<footer>
			<label class="button" for="modal">Annuler</label>
		</footer>
	</div>
</div>