<h2>Modal</h2>

<label class="button" for="modal-confirm">Show modal</label>

<div class="modal">
    <input type="checkbox" id="modal-confirm"/>
    <label class="overlay" for="modal-confirm"></label>

    <div class="dialog">
        <header>
            <h1>Alert</h1>
            <label class="icon icon-cancel close" for="modal-confirm"></label>
        </header>

        <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ante elit, maximus et dui non, tempus
            sodales quam. Proin eu orci lobortis, dignissim magna et, euismod dolor. Pellentesque facilisis luctus
            dapibus. Pellentesque tempus ultrices quam, at fringilla justo laoreet sed.
        </div>

        <footer>
            <label class="button" for="modal-confirm">Cancel</label>
        </footer>
    </div>
</div>
