<h2 id="menu">Menu</h2>

<label class="button icon icon-menu" for="menu-right"></label>

<div class="menu">
    <input type="checkbox" id="menu-right"/>
    <label class="overlay" for="menu-right"></label>

    <nav>
        <h3>Pure CSS</h3>
        <ul>
            <li><h5>Components</h5></li>
            <li><a href="#toggle">Toggle</a></li>
            <li><a href="#collapse">Collapse</a></li>
            <li><a href="#accordion">Accordion</a></li>
            <li><a href="#slider">Slider</a></li>
            <li><a href="#modal">Modal</a></li>
            <li><a href="#menu">Menu</a></li>
            <li><a href="#tab">Tab</a></li>
            <li><a href="#tooltip">Tooltip</a></li>
            <li><a href="#spinner">Spinner</a></li>
            <li class="seperator"></li>
            <li><h5>Abdelhakim Bachar</h5></li>
        </ul>
    </nav>
</div>
